body {
    font: 14px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    background-color: teal;
    color: #333;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    vertical-align: middle;
    border: 0;
}

table {
    border: 1px solid #999;
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #999;
}

input,
button,
select {
    outline: none;
    border: none;
    border-radius: 6px;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    color: crimson;
    text-decoration: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}